/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.15;
    font-family: "SegoeUiRegular";
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #36ff42;
    text-shadow: none;
}

::selection {
    background: #36ff42;
    text-shadow: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* HEADERS */

h1, h2, h3, h4, h5, h6 {
    color: #4d4d4d;
}

.titleScreen {
    text-align: center;
    padding: 60px 0;
    width: 100%;
}

.titleScreen h1 {
    margin: 0;
}


h1 {
    font-weight: 200;
    font-size: 72px;
    font-family: 'SegoeUiLight';
}

h2 {
    font-weight: 300;
    font-size: 60px;
}

h3 {
    font-weight: 300;
    font-size: 48px;
}

/* DIFFERENT TEXT PROPERTIES */

.text_36Light {
    font-size: 36px;
    font-weight: 200;
}

.fontSize_52px {
    font-size: 52px;
}
.fontSize_26px {
    font-size: 26px;
}
.fontSize_38px {
    font-size: 38px;
}
.fontSize_70px {
    font-size: 70px;
}



/* GREED */
/* мини-сетка вместо бутстрапа */

/* контейнер, занимающий один скрин */
.screen {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

.screenWidth_920 {
    max-width: 920px;
    margin: auto;
    display: flex;
}

.screenWidth_1600 {
    max-width: 1600px;
    margin: auto;
}

#calculatorSection {
    height: auto;
}
#tryOut {
    height: 90vh;
}


/*for not flex blocks*/

.horizontal-center {
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.rowColumn {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

/* центрирует блок внутри флекс-контейнера */
.flex-center {
    margin: auto;
}

/*колонки*/

.col-half {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-third {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.col-fifth {
    flex: 0 0 20%;
    max-width: 20%;
}



/* END OF GREED */


.mainHeader {
    position: fixed;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all .2s ease;
    z-index: 1000;
}

.mainHeader.white {
    background-color: #fff;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
}

.mainHeader.white .menu > li > a {
    color: #666;
}

.mainHeader.white .menu_logo {
    filter: brightness(0.7);
}

.menu {
    padding: 0;
    list-style: none;
    width: 1100px;
    margin-top: 12px;
    font-family: 'SegoeUiLight';
}

.menu > li > a {
    text-transform: uppercase;
    font-size: 19px;
    color: #fff;
    text-decoration: none;
    transition: all .2s ease;
}

.menu_logo {
    position: absolute;
    left: 25px;
    top: 12px;
    transition: all .2s ease;
}

.roundButton {
    font-family: 'CenturyGothic';
    text-transform: uppercase;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 8px 38px;
}

.roundButton_grey {
    border-color: #b3b3b3;
    color: #666;
    background-color: #fff;
}

.roundButton_small {
    font-size: 18px;
}

/* FIRST SCREEN */

.firstScreen {
    background-image: url(../img/firstScreen.jpg);
    align-items: stretch;
}

.firstScreen__mainRow {
    margin: auto 0;
}

.firstScreen__mainRow > div {
    color: #fff;
}

.firstScreen__logo {
    display: flex;
}

.firstScreen__logo img {
    max-width: 100%;
}

.firstScreen__caption > h2 {
    margin-bottom: 20px;
    font-family: 'SegoeUiSemilight';
    color: #fff;
}

.firstScreen__caption > p {
    margin-top: 0;
    font-family: 'SegoeUiLight';
}

.firstScreen__bottomRow {
    padding-bottom: 45px;
}

.firstScreen__bottomRow > .downBtn {
    display: inline-block;
    width: 12px;
    height: 40px;
    background-color: #fff;
    border-radius: 40px;
    cursor: pointer;
    position: relative;
}

.firstScreen__bottomRow > .downBtn:hover {
    animation: bounce 0.5s 1;
}

@keyframes bounce {
    0%, 100% {
        top: 0;
    }

    50% {
        top: 5px;
    }
}

/* END FIRST SCREEN */


/* SECOND SCREEN*/

#how_it_works {
    padding-top: 50px;
    padding-bottom: 50px;
}

.howToWork__icons {
    flex-direction: row;
    display: flex;
}

.howToWork__iconItem {
    width: 25%;
}

.howToWork__icon {
    height: 60px;
    display: flex;
    align-items: center;
}

.howToWork__icon img {
    display: block;
    margin: auto;
}

.howToWork__iconItem {
    color: #666;
    font-size: 16px;
    font-family: 'SegoeUiSemilight';
    text-align: center;
    vertical-align: middle;
}
.howToWork__video {
    position: relative;
    margin-top: 5%;
}

.howToWork__videoControls {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.25);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.howToWork__videoControls.paused {
    background-color: transparent;
}

.playAndPause {
    display: block;
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: 1;
    width: 160px;
    margin: auto;
    position: absolute;
    left: calc(50% - 80px);
    top: calc(50% - 105px);
}

.playAndPause img {
    cursor: pointer;
    max-width: 100%;
}

.playAndPause .playImg {
    display: block;
}
.playAndPause .pauseImg {
    display: none;
}
.howToWork__videoControls.paused .playAndPause .pauseImg {
    display: block;
}
.howToWork__videoControls.paused .playAndPause .playImg {
    display: none;
}

.howToWork__videoControls.paused .playAndPause {
    width: 50px;
    left: 20px;
    top: calc(100% - 75px);
}


/* END SECOND SCREEN*/



/*THIRD SCREEN*/

#calculatorSection .titleScreen {
    padding: 60px 0 46px 0;
}

.calcWrap {
    background-color: #262626;
    color: #fff;
    padding: 40px 20px;
    font-size: 18px;
    padding-bottom: 0;
}

.calculator {
    text-align: center;
}
.calculatorOptions  {
    max-width: 390px;
    margin: auto;
}
.calcSectionBlock__title {
    font-family: 'SegoeUiSemilight';
    color: #fff;
    margin: 30px 0;
}

.calcSectionBlock_description p {
    margin: 0;
}

.calcSectionBlock_description,
.calcSectionBlock__adres {
    font-family: 'SegoeUiLight';
}

.calcSectionBlock__adres {
    color: #808080;
}

.calculator input {
    max-width: 100%;
}

.calculatorOptions__item {
    background-color: #222223;
    font-size: 24px;
    height: 130px;
}

.calculatorOptions__item_bgLight {
    background-color: #333333;
}


.calculatorOptions__item input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.calculatorOptions__item input[type="radio"]:checked + label {
    color: #fff;
}

.calculatorOptions__item label,
.calculatorOptions__item span {
    color: #000;
    font-family: 'CenturyGothic';
}
.calculatorOptions__item label {
    cursor: pointer;
}

.calculatorOptions__item input {
    background-color: transparent;
    display: inline-block;
    text-align: center;
    border: none;
    outline: none;
    color: #000;
    font-family: 'CenturyGothic';
}
.calculatorOptions__item input::placeholder {
    color: #000;
    font-family: 'CenturyGothic';
}

.calculatorTable {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000;
    table-layout: fixed;
}
.calculatorRow {
    display: table-row;
}
.calculatorCell {
    display: table-cell;
    border: 1px solid #000;
    vertical-align: middle;
}

.calculatorOutputWrapper {
    display: flex;
    width: 390px;
    height: 390px;
    border-radius: 50%;
    border: 10px solid #1bdb21;
    margin: 40px auto;
}

.calculatorOutput {
    margin: auto;
}

.calculationResults {
    font-family: 'CenturyGothic';
    font-size: 72px;
    color: #1bdb21;
    margin: 0;
}

.calculationMeasurement {
    font-family: 'SegoeUILight';
    font-size: 24px;
    color: #fff;
    margin: 0;
    text-align: center;
}

.ui-menu .ui-menu-item-wrapper {
    padding: 19px 17px 17px 24px;
}

.ui-menu .ui-state-focus, .ui-menu .ui-state-active {
    margin: 0;
}

.ui-selectmenu-menu .ui-menu {
    background-color: #222223;
}

.selectMenu {
    margin-top: 30px;
}

.selectMenu .ui-selectmenu-button.ui-button {
    font-family: 'CenturyGothic';
    font-size: 18px;
    color: #fff;
    background-color: #222223;
    border: 1px solid #000;
    width: calc(100% - 42px);
    padding: 19px 17px 17px 24px;
    outline: none;
    max-width: 348px;
    margin: 0;
}

.ui-selectmenu-menu .ui-menu {
    background-color: #222223;
}

.ui-menu .ui-menu-item {
    color: #fff;
    font-family: CenturyGothic;
    font-size: 18px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.selectMenu .ui-selectmenu-icon.ui-icon {
    border-top: 12px solid #666;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    top: 6px;
    transition: all .2s ease;
}

.selectMenu .ui-selectmenu-button-open .ui-selectmenu-icon.ui-icon {
    transform: rotateX(-180deg);
    top: 3px;
}

.calculateButton {
    padding: 25px 0;
}

/* END THIRD SCREEN*/


/*FOUTRH SCREEN*/


.btnsWrap {
    margin-top: 110px;
}

.btnsWrap a {
    text-decoration: none;
    color: #333333;
    border: 3px solid #ccc;
    border-radius: 70px;
    font-size: 28px;
    font-family: 'CenturyGothic';
    padding: 35px 80px;
    width: 535px;
    display: inline-block;
    box-sizing: border-box;
    margin: 0 35px
}

.btnsWrap a:hover {
    border-color: #1BDB21;
}

/*END FOUTRH SCREEN*/



/*FIFTH SCREEN(RATIONS)*/


.choiceRations {
    background-image: url(../img/rations.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 60px 0;
}
.choiceRations:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
}
.choiceRations > .row {
    position: relative;
    z-index: 10;
    overflow: hidden;
}


.choiceRations .titleScreen h1 {
    color: #fff;
}

.rationContainer {
    padding-bottom: 80px;
}

.rationNames {
    width: 100%;
    padding: 70px 20px 100px;
    display: flex;
    align-items: center;
    height: 250px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.rationName {
    text-align: center;
    color: #fff;
    cursor: pointer;
    position: relative;
}
.rationName p {
    font-size: 36px;
    font-family: 'CenturyGothic';
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    margin: 0;
    transition: all 0.5s ease;
    position: relative;
    top: 0;
}
.rationDescription {
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: absolute;
    top: 200%;
    left: 0;
    right: 0;
}
.rationDescription span {
    display: block;
    font-size: 36px;
}
.rationDescription span:nth-child(2) {
    font-family: 'SegoeUiSemilight';
    font-size: 30px;
}
.rationName:hover p {
    font-size: 40px;
    top: -20px;
}
.rationName:hover .rationDescription {
    top: calc(100% - 10px);
    opacity: 1;
}


.js-tabWidget__content {
    display: none;
}
.js-tabWidget__content_current_yes {
    display: block;
}

.rationTopPanel__item {
    color: #666;
    font-size: 24px;
    font-family: 'CenturyGothic';
    text-align: center;
    padding: 28px 0;
    cursor: pointer;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.rationTopPanel__item:first-child {
    background-color: #d6d6d6;
}
.rationTopPanel__item:nth-child(2) {
    background-color: #e6e6e6;
}
.rationTopPanel__item:nth-child(3) {
    background-color: #f0f0f0;
}

.rationTopPanel__item.activePanel,
.rationTopPanel__item:hover {
    background-color: #fff;
}


.panelDays {
    justify-content: space-between;
    padding-left: 100px;
    position: relative;
    padding-top: 55px;
}

.panelDaysItem {
    display: inline-block;
    vertical-align: middle;
    color: #333333;
    border: 1px solid #ccc;
    border-radius: 70px;
    font-size: 20px;
    font-family: 'CenturyGothic';
    padding: 12px 0px;
    text-align: center;
    max-width: 180px;
    flex: 1;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
}

.panelDaysItem.activeDay,
.panelDaysItem:hover {
    border-color: #1BDB21;
    color: #1BDB21;
}

.panelDaysMan {
    width: 70px;
    height: 70px;
    background-color: #CCCCCC;
    border-radius: 50%;
    background-position: center;
    background-size: 35%;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 48px;
}

.panelDaysMan.thinMan {
    background-image: url(../img/man1.png);
}

.panelDaysMan.fatMan {
    background-image: url(../img/man3.png);
}

.panelDaysMan.strongMan {
    background-image: url(../img/man2.png);
}


.rationData {
    margin-top: 55px;
    padding-left: 100px;
}

.rationBlocksWrap {
    flex: 0 0 66%;
    max-width: 66%;
}

.rationSummWrap {
    flex: 0 0 33%;
    max-width: 33%;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
}

.rationBlock {
    border: 1px solid #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.rationBlock__overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    padding: 60px 20px 0 40px;
    opacity: 0;
    top: 100%;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    line-height: 1.1;
}

.rationBlock:hover .rationBlock__overlay {
    opacity: 1;
    top: 0;
}

.rationBlock img {
    width: 100%;
}

.rationBlock__title {
    font-size: 49px;
    font-family: 'CenturyGothic';
}
.rationBlock__info {
    font-size: 22px;
    font-family: 'CenturyGothic';
}

.rationBlockTotal {
    border-color: #ccc;
    padding: 60px 20px 10px 40px;
}
.rationBlockTotal__list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 24px;
    color: #4D4D4D;
    font-family: 'CenturyGothic';
}
.rationBlockTotal__list ul span {
    font-size: 32px;
}


.rationSummWrap {
    color: #4d4d4d;
    line-height: 1.1;
    font-family: 'SegoeUiSemilight';
    font-size: 26px;
}

.rationSummWrap__title {
    font-size: 72px;
}

.rationSummWrap__button button {
    color: #fff;
    border: none;
    background-color: #1BDB21;
    border-radius: 50px;
    font-size: 32px;
    text-transform: uppercase;
    font-family: 'CenturyGothic';
    padding: 15px 50px;
    cursor: pointer;
    outline: none;
}

.rationSummWrap__order > div {
    margin: 8px 0;
}


/*END FIFTH SCREEN(RATIONS)*/



/* ЗАКИНУТЬ В MAIN !!!
!!!!!!!!!!!!!!!!!!!!!!
*/

/*.row {*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
/*}*/

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

/*!!!!!!!!!!!!!!!!!!!!*/

/* WHY US SCREEN*/

.whyUsScreen {
    background-color: #1a1a1a;
    height: 580px;
}

.whyUsScreen > h1 {
    margin-top: 130px;
    color: #fff;
    text-align: center;
}

.whyUs__container {
    width: 1020px;
    max-width: 1020px;
    padding-top: 60px;
    margin: 0 auto;
}

.whyUs__item {
    text-align: center;
    max-width: 134px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.whyUs__icon {
    display: flex;
    flex-grow: 1;
    align-items: center;
    margin-bottom: 10px;
}

.whyUs__descr {
    display: flex;
    height: 45px;
}

.whyUs__descr > span {
    color: #fff;
    font-family: 'SegoeUiSemilight';
    font-size: 18px;
    margin: auto;
    line-height: 25px;
}

/* END WHY US SCREEN*/


/* COMPARISON */

.comparisonScreen {
    background-image: url(../img/comparisonScreen.jpg);
    color: #fff;
}

.comparisonScreen .titleScreen {
    padding-top: 80px;
}

.comparisonScreen .titleScreen > h1 {
    color: #fff;
}

.comparisonScreen__container {
    width: 1315px;
    max-width: 1315px;
    margin: 0 auto;
}

.comparisonScreen__mainRow {
    padding-bottom: 90px;
}

.comparison__market {
    padding-top: 120px;
}

.comparison__market > .comparison__itemWrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.market__spin {
    margin-right: 40px;
}

.market__spin > span {
    display: block;
    width: 0;
    height: 0;
    cursor: pointer;
}

.market__spin .spin__up {
    border-bottom: 21px solid #fff;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    margin-bottom: 38px;
    transition: all .1s ease;
}

.market__spin .spin__down {
    border-top: 21px solid #fff;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    transition: all .1s ease;
}

.market__spin .spin__up:hover,
.market__spin .spin__down:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-out;
}

.market__spin .spin__up:active,
.market__spin .spin__down:active {
    transform: scale(0.9);
    transition: all 0.05s ease-out;
}

.market__text {
    text-align: left;
}

.market__price {
    margin: 0;
}

.market__type {
    font-family: CenturyGothic;
    font-size: 45px;
    margin: 0;
    padding-left: 25px;
    margin-top: -15px;
}

.market__sum {
    font-family: 'CenturyGothic';
    font-size: 135px;
    color: #fff;
}

.market__currency {
    font-family: 'SegoeUISemilight';
    font-size: 45px;
}

.comparison__economy img {
    position: absolute;
}

.comparison__economy > .comparison__itemWrapper {
    background-image: url(../img/ap.png);
    width: 305px;
    height: 200px;
    padding-top: 208px;
    padding-left: 13px;
    margin: auto;
    filter: hue-rotate(31deg);
}

.economy__text {
    text-align: center;
    margin: 0;
}

.economy__sum {
    font-family: 'CenturyGothic';
    font-size: 90px;
    color: #fff;
}

.economy__currency {
    font-family: 'SegoeUISemilight';
    font-size: 45px;
}

.price__text {
    margin: auto;
    padding-left: 8px;
}

.comparison__price {
    padding-top: 120px;
}

.comparison__price > .comparison__itemWrapper {
    width: 228px;
    height: 228px;
    border-radius: 50%;
    background-color: #84ff1c;
    margin: auto;
    display: flex;
}

.price__sum {
    font-family: 'CenturyGothic';
    font-size: 70px;
    color: #fff;
}

.price__currency {
    font-family: 'SegoeUISemilight';
    font-size: 35px;
}


.underText p,
.underText span{
    font-family: 'CenturyGothic';
    font-size: 35px;
    text-align: center;
    margin: 0;
}

.economyPercent__wrapper {
    text-align: center;
    display: flex;
    justify-content: center;
}

.economyPercent__textPart {
    white-space: pre;
}

.economyPercent__slider {
    display: inline-block;
}

.slick-vertical .slick-slide {
    width: auto !important;
    float: none;
    outline: none;
}


/* END COMPARISON */


/* FAQ SCREEN */

.faqScreen .titleScreen > h1 {
    color: #808080;
}

.faqScreen {
    background-image: url(../img/ap_back.png);
    background-size: contain;
    background-position-x: 100%;
}

.faqMainRow {
    height: 100%;
    padding: 50px 0 150px 70px;
}

.faqSlider {
    height: 100%;
}

.faqSlider.ui-slider {
    width: 7px;
    border-radius: 7px;
    background-color: #e6e6e6;
    cursor: pointer;
}

.faqSlider > .ui-slider-handle {
    left: -11px;
    margin-left: 0;
    margin-bottom: -11px;
    background-color: #fff;
    border: 1px solid #b3b3b3;
    border-radius: 27px;
    width: 27px;
    height: 27px;
    outline: none;
    cursor: pointer;
}

.faqSliderPart {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.questions {
    height: 100%;
    padding-left: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.questions__item {
    cursor: pointer;
}

.questions .questions__item > p {
    color: #999;
    font-family: CenturyGothic;
    font-size: 18px;
    margin: 0;
    transition: all .3s ease;
}

.questions .questions__item > p:hover {
    color: #666;
}

.questions .questions__item.active > p {
    color: #4d4d4d;
    font-size: 24px;
}

.answers__wrapper {
    padding: 0 120px 0 200px;
}

.answer__item {
    font-family: CenturyGothic;
    color: #4d4d4d;
    font-size: 24px;
    position: relative;
    padding-left: 35px;
}

.answer__item > p {
    margin: 0;
    -webkit-backface-visibility: hidden;
}

.slick-slide {
    outline: none;
}

.answer__item::before {
    content: '';
    top: 5px;
    left: 0;
    display: block;
    position: absolute;
    height: 0;
    width: 0;
    border-left: 15px solid #ccc;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

/* END FAQ SCREEN */


/* FOOTER */

footer {
    background-color: #1a1a1a;
}

.footer__container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 200px 0 45px 0;
}

.footer__descr {
    font-family: SegoeUISemilight;
    font-size: 36px;
    color: #fff;
    padding-left: 25px;
}

.footer__descr > p {
    margin: 0;
    line-height: 45px;
}

.socialNetworks {
    max-width: 400px;
    margin: auto;
}

.footer__phone {
    color: #fff;
    font-size: 36px;
    font-family: SegoeUiSemilight;
    text-align: center;
}

.footer__bottomRow {
    color: #999;
    font-family: SegoeUISemilight;
    font-size: 16px;
    padding-top: 100px;
}

.footer__info > p {
    margin: 0;
    line-height: 21px;
}

.footer__copyright {
    text-align: center;
}

/* END FOOTER */




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
